<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>


<br>
<br>
<div id="graphcomment-widget"></div>

<script src="https://graphcomment.com/js/widget.js"></script>

<script>
graphcommentWidget(document.getElementById('graphcomment-widget'), {
  "graphcomment_id": "danoisblog",
  "defaultTab": "last_comments",
  "tabs": [
    "last_comments",
    "top_comments",
    "top_threads"
  ],
  "labels": {
    "last_comments": "",
    "top_comments": "",
    "top_threads": ""
  },
  "period": "90 days",
  "limit": 25,
  "height": null,
  "openLinksNewWindow": true,
  "showVotes": true,
  "locale": "en"
});
</script>


    
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}

    
          
<!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4974602,4,2050,280,25,00010001']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4974602&101" alt="contador gratis" border="0"></a></noscript>
<!-- Histats.com  END  -->

          
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    

  </body>
</html>
